.forminfor {
    margin: 40px 0 20px;
    padding: 10px;
}
.loginList li {
    position: relative;
    margin-bottom: 15px;
    height: 60px;
    line-height: 60px;
    text-align: left;
}
.loginitem {
    display: inline-block;
    width: 40px;
    height: 40px;
    vertical-align: top;
    background-size: 98% 98%;
    border-radius: 6px;
}
.loginList li input {
    margin-left: 1%;
    padding: 0 10px;
    width: 73%;
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    font-size: 1.1rem;
    color: #585858;
    vertical-align: top;
}
.usericon {
    background: #c7c7c7 url(../../imgs/default/loginUser.png) no-repeat center center;
}
.pswicon {
    background: #c7c7c7 url(../../imgs/default/psw.png) no-repeat center center;
}
.loginbtn:hover {
    color: #fff;
    background: #e27405;
}
.notAsign {
    margin: 10% 20px;
}
.notAsign a {
    color: #0099FF;
    font-size: 0.9rem;
}
.userRegister {
    color: #0099FF;
    font-size: 0.9rem;
    float: right;
    margin-right: 2%;
}
.notAsign a:hover {
	font-weight: bold;
}

.loginbtndisable {
    display: block;
    margin: 20px auto;
    width: 90%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #999;
    border-radius: 8px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}

.warninginform {
    width: 296px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ff7519;
    background: #ffe8d6;
    padding-left: 10px;
    text-align: left;
    margin-left: 0;
    margin: 15px 0;
    font-size: 13px;
    color: #685f55;
    overflow: hidden;
    display: none;
}

.loginbtn {
    display: none;
    margin: 20px auto;
    width: 90%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #f58a08;
    border-radius: 8px;
    font-size: 1.4rem;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 415px) and (min-width: 376px) {
	.loginBox {
	    min-height: 570px;
	}
}