input.txt { font-size:1.1em; width: 240px; height: 28px; max-width:100%; line-height:28px; border: 1px solid #ccc; border-radius:3px; margin: 2px 3px;}
input.txt:focus {outline: 0; border: 2px solid #71a0df; margin: 1px 2px;}
input.txterr {border:2px solid #ff0000 !important; margin: 2px;}
input.txtwidth60 {border: 1px solid #cccccc; width: 60px; height: 28px; line-height: 25px; background: none;}
input.txtwidth60:FOCUS {border: 1px solid #71a0df; width: 60px; height: 28px; line-height: 25px; background: none;margin: 2px 3px;}
input.short {border: 1px solid #cccccc; width: 60px; height: 28px; line-height: 25px; background: none;}
input.short:FOCUS {border: 1px solid #71a0df; width: 60px; height: 28px; line-height: 25px; background: none;margin: 2px 3px;}
input.tiny {border: 1px solid #ccc; width: 100px; height: 20px; line-height: 20px; background: none;}
input.tiny:FOCUS {border: 1px solid #ccc; margin: 2px 3px;}
input.txtwidth150 {border: 1px solid #cccccc; width: 150px; height: 28px; line-height: 25px; background: white;}
input.txtwidth150:FOCUS {border: 1px solid #71a0df; width: 150px; height: 28px; line-height: 25px; background: white;margin: 2px 3px;}
input.long {border: 1px solid #cccccc; width: 500px; max-width:100%; height: 28px; line-height: 25px; background: none;}
input.long:FOCUS {border: 1px solid #71a0df; height: 28px; line-height: 25px; background: none;margin: 2px 3px;}
textarea.long {width: 500px; height: 60px; max-width: 100%;}

input.btn { border: 0; cursor: pointer; text-align: center;}
input.chk {*background: transparent;}

.btn1 {background:#cccccc; border-width:0; height:22px; width:72px; cursor:pointer;}
.btn2 {background:#6699ff; border-width:0; height:22px; width:72px; cursor:pointer;}
.btn3 {background:#ffcccc; border-width:0; height:22px; width:72px; cursor:pointer;}
.linkbtn {background: none; border: 0;}

/*清除浮动*/
.clear,.clr {clear:both;font-size:0;}
.scroll { overflow:auto;}
/*作为调试*/
.bug { border:dashed 1px red !important;}
.bug1 { border:dashed 1px #f07a23 !important;}
.bug2 { border:dashed 1px #77b001 !important;}
.bug3 { border:dashed 1px #ffff00 !important;}
.bug4 { border:dashed 1px #3300cc !important;}
/*设置display*/
.di {display:inline;}
.db {display:block;}
.hd {display:none !important;}
.dt {display:table;}
.table {display:table;}
.space {padding-left: 10px;}
/*block对齐*/
.right {float:right;}
.left { float:left;}
.rltv { position:relative;}
.abs { position:absolute;}
/*文本字体*/
.arial {font-family: Arial, Helvetica, "新宋体";}
.px12 {font-size: 12px; font-weight: normal !important;}
.em2 { font-size: 2em;}
.txtcen {text-align:center !important;}
.txtlft {text-align:left;}
.txtrgt {text-align:right !important;}
.txttop {vertical-align:top;}
.txtbtm {vertical-align:bottom;}
.bold { font-weight:bold;}
.noline {text-decoration: none !important;}
.unselectable {-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;}
/*颜色*/
.red {color: red;}
.gray {color: gray;}

/*---------分页----------*/
.pagenum { clear:both; width:100%; margin-top: 30px; padding-top: 9px; text-align: center;}
.pagenum ul { display: table; list-style: none !important; list-style-type: none !important;}
.ie7 .pagenum ul {width: 360px;}
.ie6 .pagenum ul {width: 360px;}
.pagenum ul li{ float:left; margin:5px;}
.pagenum ul li a { border:solid 1px #ddd; text-align:center; padding-left:9px; padding-right:9px; line-height:30px; display:block; text-decoration: none;}
.pagenum ul li a:hover {background-color: #efefef;}
.pagenum ul li a.here { background:#39c; color:White; border:solid 0px #b2e05d;}
@media screen and (max-width: 600px) {
	.pagenum ul li {margin: 1px;}
	.pagenum ul li a {display: none;}
	.pagenum ul li a.next {display: block;}
	.pagenum ul li a.last {display: block;}
}
/*---------响应式----------*/
@media screen and (max-width: 600px) {
	.hd600 {display: none;}
	.bl600 {display: block;}
}
@media screen and (max-width: 480px) {
	.bl480 {display: block;}
}
@media screen and (max-width: 320px) {
	.hd320 {display: none;}
	.bl320 {display: block;}
}

/*---------fonts icons----------*/
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---------buttons----------*/
.greenbtn {
	color: white; 
	border: solid 1px #070;
	background: #080;
	background: linear-gradient(top,  #080,  #0a3);
	background: -ms-linear-gradient(top,  #080,  #0a3);
	background: -o-linear-gradient(top,  #080,  #0a3);
	background: -webkit-gradient(linear, left top, left bottom, from(#080), to(#0a3));
	background: -moz-linear-gradient(top,  #080,  #0a3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#008800', endColorstr='#00aa33');
}
.greenbtn:hover {
	background: #0a3;
	background: linear-gradient(top,  #0a3,  #080);
	background: -ms-linear-gradient(top,  #0a3,  #080);
	background: -o-linear-gradient(top,  #0a3,  #080);
	background: -webkit-gradient(linear, left top, left bottom, from(#0a3), to(#080));
	background: -moz-linear-gradient(top,  #0a3,  #080);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aa33', endColorstr='#008800');
}
.greenbtn:active {
	background: linear-gradient(top,  #0a3,  #0a3);
	background: -ms-linear-gradient(top,  #0a3,  #0a3);
	background: -o-linear-gradient(top,  #0a3,  #0a3);
	background: -webkit-gradient(linear, left top, left bottom, from(#0a3), to(#0a3));
	background: -moz-linear-gradient(top,  #0a3,  #0a3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a3', endColorstr='#0a3');
}
.blurbtn {
	color: white; 
	border: solid 1px #538312;
	background: #2e62a4;
	background: linear-gradient(top,  #4399d6,  #2e62a4);
	background: -ms-linear-gradient(top,  #4399d6,  #2e62a4);
	background: -o-linear-gradient(top,  #4399d6,  #2e62a4);
	background: -webkit-gradient(linear, left top, left bottom, from(#4399d6), to(#2e62a4));
	background: -moz-linear-gradient(top,  #4399d6,  #2e62a4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4399d6', endColorstr='#2e62a4');
}
.blurbtn:hover {
	background: #4399d6;
	background: linear-gradient(top,  #2e62a4,  #4399d6);
	background: -ms-linear-gradient(top,  #2e62a4,  #4399d6);
	background: -o-linear-gradient(top,  #2e62a4,  #4399d6);
	background: -webkit-gradient(linear, left top, left bottom, from(#2e62a4), to(#4399d6));
	background: -moz-linear-gradient(top,  #2e62a4,  #4399d6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e62a4', endColorstr='#4399d6');
}
.blurbtn:active {
	background: linear-gradient(top,  #4399d6,  #4399d6);
	background: -ms-linear-gradient(top,  #4399d6,  #4399d6);
	background: -o-linear-gradient(top,  #4399d6,  #4399d6);
	background: -webkit-gradient(linear, left top, left bottom, from(#4399d6), to(#4399d6));
	background: -moz-linear-gradient(top,  #4399d6,  #4399d6);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4399d6', endColorstr='#4399d6');
}
.blur2btn {
	margin-left:35px;
	position:relative;
	font-weight:bold;
	background-color:#3bb3e0;
	color:#fff;
	padding:9px 30px;
	border-left:solid 1px #2ab7ec;
	text-indent:0 !important;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(44,160,202)),color-stop(1, rgb(62,184,229)));
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}
.blur2btn:HOVER {text-decoration: none;}
.blur2btn:active {
	top:1px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(62,184,229)),color-stop(1, rgb(44,160,202)));
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.blur2btn::before {
	position:absolute;
	padding-top:7px;
	top:-1px;
	left:-36px;
	width:35px;
	background-color:#2561b4;
	max-height:29px;
	height:100%;
	font-size:12px;
	line-height:20px;
	text-align:center;
	color:#eee;
	font-weight:normal;
	border-right:solid 1px #07526e;
	background-image: linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -o-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(10,94,125) 0%, rgb(14,139,184) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(10,94,125)),color-stop(1, rgb(14,139,184)));
/* 	-webkit-border-top-left-radius: 5px; */
/* 	-webkit-border-bottom-left-radius: 5px; */
/* 	-moz-border-radius-topleft: 5px; */
/* 	-moz-border-radius-bottomleft: 5px; */
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 0px 10px 5px #999;
}

.blur2btn:active::before {
	top:-3px;
/* 	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ; */
/* 	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ; */
/* 	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ; */
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}

.blur2btn::before {
	content:"^_^";
}